@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .btn {
    @apply border py-2 px-4 rounded;
  }

  .btn-primary {
    @apply bg-tilda-green text-white font-bold py-2 px-4 rounded;
  }
}